.deals-section {
  padding: 20px;
}

.deals-container {
  margin-bottom: 20px;
}

.deals-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 42px;
}

.deals-content {
  position: relative;
}

.deals-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.deal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10px;
  width: px;
}

.deal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.deal-info {
  padding: 10px;
  margin-left: -30px;
}

.deal-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  letter-spacing: -0.0032em;
  color: #4D4D4D;
}

.deal-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.0032em;
}

.deal-button {
  width: 100px;
  height: 32px;
  border-radius: 6px 0 0 0;
  border: 1px solid #999C99;
  background: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  letter-spacing: -0.0032em;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.deals-divider {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .deals-grid {
    display: none;
  }

  .deals-content .swiper-slide {
    padding: 0 10px;
  }
  .deal-info {
    margin-left: -60px;
  }
}
